*{
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  text-decoration: none;
}

html , body{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*, *:before, *:after ,body{
   -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.row {
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.dropdown-menu-new {
    min-width: 60px !important;
    background-color: #202734;
    color: #fff;
    border: 0;
    padding-top: 0 !important;
    font-family: inherit !important;
}

.dropdown-menu-new>option{
    color: #fff !important;
   text-decoration: none;
   background-color: #202734 !important;
   border: none !important;
}

.dropdown-menu-new>option:hover, .dropdown-menu>option:focus {
   color: #fff !important;
   text-decoration: none;
   background-color: #202734 !important;
   border: none !important;
}

.footer-new-social{
    bottom: 1px;
}

.footer-sec-new{
       padding: 0 0 20px 0;
}

.footer-one-new{
      padding: 50px 0 0 0;
}

.font-droid{
  font-family: 'DroidKufi' !important;
}

.new-input{
  box-shadow: none !important;
    border: 0 !important;
}

.new-search-btn{
  background: #5a7138 !important;
    border-color: #5a7138 !important;
    color: #FFF !important;
}


.new-search-btn:hover ,.new-search-btn:focus{
 background: #5a7138 !important;
    border-color: #5a7138 !important;
    color: #FFF !important;
}

.new-input:hover ,.new-input:focus{
  background: transparent !important;
    border-color: none !important;
    color: #FFF !important;
}

.new-btn-more{
  background: #5a7138 !important;
    border-color: #5a7138 !important;
    color: #FFF !important;
}

.new-btn-more:hover ,.new-btn-more:focus{
  background: #3d4e24 !important;
    border-color: #5a7138 !important;
    color: #FFF !important;
}

.owl-text-pad{
  padding-top: 15px !important;
}

.dashboard-banner{

  color: #fff !important;
  padding: 60px 0 !important;
}

.nav>li>a:hover, .nav>li>a:focus{
  color: #5a7138 !important;
}

.course-item-bottom i:hover ,.course-item-bottom i:focus {
  color: #5a7138 !important;
}

.mar-5{
    margin-left: 5px !important;
}

.footer-logo, .about-us-footer {
    top: 0 !important;
}

.new-float {
    float: right;
}

.padding-0{
  padding: 0 15px !important;
}

.social-footer a{
  font-size: 21px !important;
}

table{
  border-collapse: collapse !important;
  width: 100% !important;
  font-family: 'DroidKufi' !important;
}

table ,td ,th{
  border: 1px solid #000;
  text-align: right;
  color: #fff;
  font-weight: bold;
  text-align: justify !important;
  font-size: 15px;
  font-family: 'DroidKufi' !important;
}

th{
  padding: 8px 50px;
}

td{
  padding: 9px;
  color: #0a1323;
}


textarea, input[type="text"], input[type="url"], input[type="email"], input[type="password"], input[type="tel"]{
  font-style: normal !important;
  width: 100%;
}


.new-about i.fa {
    font-size: 18px;
    margin-left: 15px;
    padding: 7px;
}

.login-register-content{
    background: #fff !important;
    margin-top: 0 !important;
}

.login-register{
    border-radius: 0 !important;
    margin: 60px 0 30px 0;
}

.login-register, .financial-assistance-wrapper .financial-assistance-form{
    background: #8591b0 !important;
    margin: 100px 0 40px 0 !important;
}

.login-register .form-field input, .financial-assistance-wrapper .financial-assistance-form .form-field input, .login-register .form-field select, .financial-assistance-wrapper .financial-assistance-form .form-field select, .login-register .form-field textarea, .financial-assistance-wrapper .financial-assistance-form .form-field textarea{
    background-color: #fff !important;
    border: 0;
    border-radius: 8px !important;
    color: #555555;
    font-size: 14px;
    line-height: 35px;
    outline: none;
    box-shadow: none;
}

.login-register .form-field input, .login-register .form-field select{
    border-radius: 8px !important;
    height: 42px !important;
} 

.login-register .action-primary, .financial-assistance-wrapper .financial-assistance-form .action-primary{
    background: #233175 !important;
    border-radius: 8px !important;
    width: 100% !important;
}

.login-register .form-field label, .financial-assistance-wrapper .financial-assistance-form .form-field label{
    display: block;
    margin: 0;
    color: #fff !important;
    font-size: 14px;
    font-weight: bold;
    padding: 0 0 15px 0px;
    font-family: 'DroidKufi' !important;
}

.login-register, .financial-assistance-wrapper .financial-assistance-form{
    padding-left: 30px;
    padding-right: 30px;
}

.login-register .form-type, .financial-assistance-wrapper .financial-assistance-form .form-type, .login-register .toggle-form, .financial-assistance-wrapper .financial-assistance-form .toggle-form{
    box-sizing: border-box;
    max-width: 600px;
    min-width: 250px;
    margin: 0 auto;
    padding: 0 15px !important;
}

.login-register .form-field .tip{
    display: none !important;
}

.tip tip-input{
    display: none !important;
}

.toggle-form{
    display: none;
}

.login-register-content h2{
    display: none;
}

.login-register .form-field .label-optional{
    display: none;
}


input[type='radio'] + label:before, input[type='checkbox'] + label:before{
    font-family: 'FontAwesome';
    content: "\f096";
    position: relative !important;
    left: 0 !important;
    top: 1px !important;
    color: #999;
    display: inline-block !important;
}

.login-register-content a{
    text-decoration: none !important;
    color: #fff !important;
    font-family: 'DroidKufi' !important;
}

.login-register .form-field select{
    border: none;
    outline: solid 1px #fff !important;
    cursor: pointer;
    border-radius: 8px !important;
    height: 42px !important;
}

.login-register-content{
    min-width: 100%;
}

.login-register .form-wrapper,{
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

@media (max-width: 991px) {
    .container {
        min-width: 100% !important;
    }
}

#back-to-top a{
  line-height: 18px !important;
}

.login-register .action-primary{
    height: 45px !important;
    padding-top: 8px !important;
}

.dashboard .my-courses .wrapper-header-courses{
    text-align: center !important;
    font-family: 'DroidKufi' !important;
    margin: 100px 0 35px 0 !important;
}

.empty-dashboard-message a{
    font-family: 'DroidKufi' !important;
}

.wrapper-msg .msg-content .title{
    font-family: 'DroidKufi' !important;
}

.wrapper-msg.urgency-high{
    background: #0079bc !important;
}

.wrapper-msg .msg-content .copy p{
    font-family: 'DroidKufi' !important;
}

.dashboard .my-courses .wrapper-header-courses .header-courses{
    font-family: 'DroidKufi' !important;
}

.dashboard .my-courses{
     text-align: center !important;
     display: inline !important;
     font-family: 'DroidKufi' !important;
     width: 100% !important;
}

.empty-dashboard-message p{
     margin-bottom: 40px !important;
     padding-top: 10px !important;
}

@media only screen and (min-width: 320px){
    .slicknav_menu {
        margin-top: 0 !important;
    }

    .slicknav_btn.slicknav_open:before, .slicknav_btn.slicknav_collapsed:before{
        bottom: 0 !important;
    }
}

@media (min-width: 767px){
   .slicknav_menu {
        position: absolute !important;
        top: 70px !important;
        left: 0 !important;
        right: 0 !important;
        background: #202734 !important;
        z-index: 1000 !important;
        margin-top: 23px !important;
    }

    .slicknav_nav{
        text-align: center !important;
    }

    .slicknav_btn.slicknav_open:before, .slicknav_btn.slicknav_collapsed:before{
        bottom: 111px !important;
    }
}


@media only screen and (max-width: 991px){
  .slicknav_menu {
        display: block;
    }

}

.slicknav_menu{
     top: 3px 1important;
}

.slicknav_btn.slicknav_open:before, .slicknav_btn.slicknav_collapsed:before{
      font-size: 25px !important;
      color: #080000 !important;
      position: relative !important;
      z-index: 10000 !important;
}


.font-english{
  font-family: sans-serif !important;
}

.slicknav_btn.slicknav_collapsed{
    float: right !important;
}

.main-search-wrapper .input-group .btn{
    height: 51px !important;
    box-shadow: none !important;
}

@media (min-width: 1000px){
  .our-vision {
      height: 425px !important;
  }
}

.new-section-pad{
    padding: 65px 0 30px 0 !important;
}

.main-section-pad{
    padding: 30px 0 !important;
    margin-top: 0 !important;
}

@media screen and (min-width: 980px){
    .find-courses .courses-container .courses.no-course-discovery .courses-listing .courses-listing-item{
        width: 100% !important;
        overflow: hidden !important;
    }
}

.course-info header.course-profile{
    overflow: visible !important;
    margin-bottom: 120px !important;
    padding-top: 0 !important;
}

.hero{
    padding: 0 !important;
    margin-top: 66px !important;
}

section, .section{
    padding: 90px 0 !important;
    margin-top: 45px !important;
}

.course-info .container{
    padding-bottom: 120px !important;
    margin-top: 0 !important;
    border-top: 1px solid #000 !important;
}

input[type="submit"], input[type="button"], button, .button , .course-info header.course-profile .intro-inner-wrapper .intro .main-cta a.register{
    border: 1px solid #243174 !important;
    border-bottom: 1px solid #243174 !important;
    box-shadow: inset 0 1px 0 0 #243174 !important;
    background-color: #243174 !important;
    background: #243174 !important;
    text-shadow: 0 -1px 1px #243174 !important;
    background-image: none !important;
    font-family: 'DroidKufi' !important;
}

 .course-info header.course-profile .intro-inner-wrapper .intro .main-cta a.register{
    width: 50% !important;
    margin-right: 30px !important;
 }

.course-info header.course-profile .intro-inner-wrapper .intro>.heading-group{
    margin-right: 30px !important;
}

.course-info .details{
    margin-top: -160px !important;
}

.our-vision  .nav-tabs>li>a:hover ,.our-vision  .nav-tabs>li>a:focus{
    transition: unset !important;
}

.transition{
    transition: unset !important;
}

.wrapper-preview-menu{
    margin: 90px auto 30px !important;
}


div.info-wrapper section.handouts{
    position: absolute !important;
    width: 15% !important;
    bottom: 0 !important;
}

h3:first-child ,.home .page-header-main .page-subtitle{
    display: -webkit-inline-box !important;
}

body.view-in-course .wrapper-preview-menu .preview-menu{
    padding: 18px 2% !important;
}

ul.menu-footer li a , .social-footer a{
    color: #fff !important;
}

.new-wrap{
    position: relative !important;
    padding-top: 100px !important;
    background: #FFF !important;

}

.wrap-pad-0{
    padding-top: 0 !important;
}

.homediv{
    display: block !important;
    table-layout: fixed !important;
    width: auto !important;
    border: none !important;
    background: none !important;
    box-shadow: none !important;
}

.home{
    padding: 45px 20px 20px 20px !important;
}

.login-register .form-field .field-link{
    margin-top: 18px !important;
    background-color: transparent !important;
    box-shadow: inset 0 !important;
    border: none !important;
    box-shadow: none !important;
    border-radius: 0 !important;
    border-top: 0 !important;
    color: #fff !important;
    font-weight: 0 !important;
    outline: none !important;
    text-decoration: none !important;
}

@media (min-width: 1000px){
    .our-vision{
        height: 370px !important;
    }
}

.main-footer{
    line-height: 1.4em !important;
}

.en-handouts{

    right: 0 !important;
}

.ar-handouts{
    left: 0 !important;
   
}

@media (max-width: 767px){
      
    .top-header-widget {
        line-height: 21px !important;
    }

}

.bg-light .course-item{
      max-height: 355px !important;
}

.navbar-header{
     padding-left: 0 !important;
}

@media (min-width: 768px){
  .navbar-nav{
    margin: 10px 0 0 0 !important;
  }
}








