<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("About Us")}</%block>


  <!--/********************************************delete here **************************************************************/-->

		<div class="main-wrapper scrollspy-container">

            <div id="partners">
                <div class="container div-about-ne-padding">
                    <div class="row">
                       <div class="col-xs-12">
                       		<div class="row">
                       			<div class="col-xs-3 col-sm-2 col-md-1">
                       				<h5 class="new-about"><i class="fa fa-university"></i></h5>
                       			</div>
                       			<div class="col-xs-9 col-sm-10 col-md-10">
                       				<p class="About-par font-droid"> ${_("An Arab Electronic platform for open sources and wide spread e- courses. The platform was established at the initiative of the University of Majmaa in Saudi Arabia which is keen on exerting all the efforts to upgrade and enhance the higher education system through the use of technological systems to develop the processes of both teaching and learning as they are considered the cornerstone of the local, regional and global development and prosperity.")}</p>
                       			</div>
                       		</div>
                       </div>

                       <div class="col-xs-12">
	                       <div class="row">
	                       		<div class="col-xs-3 col-sm-2 col-md-1">
	                       			<h5 class="new-about"><i class="fa fa-universal-access"></i></h5>
	                       		</div>
	                       		<div class="col-xs-9 col-sm-10 col-md-10">
	                       			<p class="About-par font-droid">${_("The platform aims to provide high-quality e-learning courses in all disciplines as a group of experienced and specialized experts and arbitrators are responsible for developing the contents, in addition to providing electronic courses in Arabic and English.")}</p>
	                       		</div>
	                       </div>
                       </div>

                       <div class="col-xs-12">
                       		 <div class="row">
	                       		<div class="col-xs-3 col-sm-2 col-md-1">
	                       			<h5 class="new-about"><i class="fa fa-language"></i></h5>
	                       		</div>
	                       		<div class="col-xs-9 col-sm-10 col-md-10">
	                       			<p class="About-par font-droid">${_("The platform offers the opportunity to join various electronic courses in most fields for all Arabic speakers. Learners can also obtain e-courses completion certificates after passing an online test.")}</p>
	                       		</div>
	                       </div>
                       </div>

                       <div class="col-xs-12">
                       		 <div class="row">
	                       		<div class="col-xs-3 col-sm-2 col-md-1">
	                       			<h5 class="new-about"><i class="fa fa-users"></i></h5>
	                       		</div>
	                       		<div class="col-xs-9 col-sm-10 col-md-10">
	                       			 <p class="About-par font-droid">${_("Finally, the platform includes a dedicated team of best e-learning experts who are well aware that learning is for life.")}
                              </p>
	                       		</div>
	                       </div>
                       </div>

                       <div class="col-xs-12 hidden-xs empty-div"></div>

                    </div>
                </div>
            </div>

		</div>















<!--/**********************************************end delete************************************************************************-->
