<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Partners")}</%block>

  <!--/********************************************delete here **************************************************************/-->



<div class="partners">
	
	<div class="text-center">
		<h2>${_("Partners")}</h2>
	</div>


	<div class="container text-center">
		<div class="row">
			
			<div class="col-xs-3">
				<div class="partners-img">
					<a href="https://www.moi.gov.sa/wps/portal/Home/sectors/publicsecurity/traffic/!ut/p/z1/04_Sj9CPykssy0xPLMnMz0vMAfIjo8ziLQPdnT08TIy83Q0dzQwcPc2N_A08TQ3dPY30wwkpiAJKG-AAjgZA_VFgJc7ujh4m5j4GBhY-7qYGno4eoUGWgcbGBo7GUAV4zAhOLNIvyI0wyDJxVAQAWYyrQQ!!/dz/d5/L2dJQSEvUUt3QS80TmxFL1o2XzBJNDRIMTQyS0dEUTUwQVFLRU9JRDMyMEEy/"><img src="/static/erada-theme/images/partner/partners-1.png"></a>
				</div>
			</div>

			<div class="col-xs-3">
				<div class="partners-img">
					<a href="https://www.momra.gov.sa/"><img src="/static/erada-theme/images/partner/partners-2.png"></a>
				</div>
			</div>

			<div class="col-xs-3">
				<div class="partners-img">
					<a href="http://www.scfhs.org.sa/Pages/default.aspx"><img src="/static/erada-theme/images/partner/partners-3.png"></a>
				</div>
			</div>

			<div class="col-xs-3">
				<div class="partners-img small-img">
					<a href="https://jobs.mol.gov.sa/"><img src="/static/erada-theme/images/partner/partners-4.png"></a>
				</div>
			</div>


		</div>
	</div>

</div>


<!--/**********************************************end delete************************************************************************-->
