<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("About")}</%block>

  <!--/********************************************delete here **************************************************************/-->




		<div class="main-wrapper scrollspy-container">

            <div id="partners">
                <div class="container div-about-ne-padding">
                    <div class="row">


                          <h6 class="text-center pt-70">${_("To share digital content on the university platform, the digital content should take into consideration the general specifications and standards of the EDX platform as follows:")}</h6>

                       <div class="col-xs-12">
                       		<div class="row">

                            <div class="col-xs-12">
                                <table class="table table-responsive">
                                  <tr class="dark-blue">
                                    <th>${_("M")}</th>
                                    <th>${_("Standard")}</th>
                                    <th>${_("Availability of standard")}</th>
                                  </tr>

                                  <tr class="scnd-blue">
                                    <td class="t-m-font" colspan="3">${_("MOOC Development Menu")}</td>
                                  </tr>

                                  <tr class="new-blue">
                                    <td>1-1</td>
                                    <td>${_("Declaration and introduction of the session:")}</td>
                                    <td></td>
                                  </tr>

                                   <tr>
                                    <td>1-1-1</td>
                                    <td>${_("Identify the basic requirements and background of learners.")}</td>
                                    <td></td>
                                  </tr>

                                  <tr>
                                    <td>1-1-2</td>
                                    <td>${_("Determine the expected time committed to learners.")}</td>
                                    <td></td>
                                  </tr>


                                  <tr>
                                    <td>1-1-3</td>
                                    <td>${_("The teacher's introduction is available on the page.")}</td>
                                    <td></td>
                                  </tr>


                                  <tr>
                                    <td>1-1-4</td>
                                    <td>${_("Introduction to the course requirements for MOOC learners or introduction to the platform listed in the 'Curriculum' tab.")}</td>
                                    <td></td>
                                  </tr>


                                  <tr>
                                    <td>1-1-5</td>
                                    <td>${_("There is an incentive for the learner to learn how to start the course on the main course information page.")}</td>
                                    <td></td>
                                  </tr>


                                  <tr class="new-blue">
                                    <td>1-2</td>
                                    <td> ${_("Installation / Build Course:")}</td>
                                    <td></td>
                                  </tr>

                                  <tr>
                                    <td>1-2-1</td>
                                    <td>${_("Schedule / time plan for the course (topics of the course and important dates including examinations)")}</td>
                                    <td></td>
                                  </tr>

                                  <tr>
                                    <td>1-2-2</td>
                                    <td>${_("Qualified standards and certification requirements in the course.")}</td>
                                    <td></td>
                                  </tr>

                                  <tr>
                                    <td>1-2-3</td>
                                    <td>${_("Objectives of learning and graduating from the course.")}</td>
                                    <td></td>
                                  </tr>

                                  <tr class="new-blue">
                                    <td>1-3</td>
                                    <td>${_("Teaching aids and means of assessment:")}</td>
                                    <td></td>
                                  </tr>

                                  <tr>
                                    <td>1-3-1</td>
                                    <td>${_("The session contains videos and exercises.")}</td>
                                    <td></td>
                                  </tr>

                                  <tr>
                                    <td>1-3-2</td>
                                    <td>${_("The course contains assessment methods such as exercises / homework / exams and are subject to evaluation and grades.")}</td>
                                    <td></td>
                                  </tr>

                                  <tr>
                                    <td>1-3-3</td>
                                    <td>${_("Set a final evaluation date.")}</td>
                                    <td></td>
                                  </tr> 


                                  <tr class="new-blue">
                                    <td>1-4</td>
                                    <td>${_("Session management and learner participation:")}</td>
                                    <td></td>
                                  </tr> 

                                  <tr>
                                    <td>1-4-1</td>
                                    <td>${_("Send a welcome email to learners.")}</td>
                                    <td></td>
                                  </tr>

                                  <tr>
                                    <td>1-4-2</td>
                                    <td>${_("Send emails during the session.")}</td>
                                    <td></td>
                                  </tr>

                                  <tr>
                                    <td>1-4-3</td>
                                    <td>${_("Completion of emailing by end of session.")}</td>
                                    <td></td>
                                  </tr>

                                  <tr>
                                    <td>1-4-4</td>
                                    <td>${_("The course team provides a Forum moderation forum.")}</td>
                                    <td></td>
                                  </tr>

                                  <tr>
                                    <td>1-4-5</td>
                                    <td>${_("Guidance booklet explaining the use of forums.")}</td>
                                    <td></td>
                                  </tr>

                                  <tr>
                                    <td>1-4-6</td>
                                    <td>${_("Download the explanation of how to help in the topics of learners.")}</td>
                                    <td></td>
                                  </tr>

                                  <tr>
                                    <td>1-4-7</td>
                                    <td>${_("Appropriate content for previously announced curriculum changes.")}</td>
                                    <td></td>
                                  </tr>

                                  <tr>
                                    <td>1-4-8</td>
                                    <td>${_("Welcome message in the information page provided at the beginning of the course.")}</td>
                                    <td></td>
                                  </tr>

                                  <tr class="scnd-blue t-m-font">
                                    <td colspan="3">${_("MOOC development and best practices:")}</td>
                                  </tr>

                                  <tr class="new-blue">
                                    <td>2-1</td>
                                    <td>${_("Announcement of course and introduction:")}</td>
                                    <td></td>
                                  </tr>

                                  <tr>
                                    <td>2-1-1</td>
                                    <td>${_("Video presentation / welcome")}</td>
                                    <td></td>
                                  </tr>

                                  <tr>
                                    <td>2-1-2</td>
                                    <td>${_("An optional self assessment provided that the basic needs and requirements for certification are identified.")}</td>
                                    <td></td>
                                  </tr>

                                   <tr class="new-blue">
                                    <td>2-2</td>
                                    <td>${_("Installation and build cycle.")}</td>
                                    <td></td>
                                  </tr>

                                  <tr>
                                    <td>2-2-1</td>
                                    <td>${_("Academic policy / guidelines and instructions are attached to the course.")}</td>
                                    <td></td>
                                  </tr>

                                   <tr class="new-blue">
                                    <td>2-3</td>
                                    <td>${_("Teaching aids and means of assessment:")}</td>
                                    <td></td>
                                  </tr>

                                <tr class="new-blue">
                                    <td>2-3-1</td>
                                    <td>${_("Technical Specifications of Video Quality:")}</td>
                                    <td></td>
                                  </tr>

                                  <tr>
                                    <td>2-3-1-1</td>
                                    <td>${_("Keep the video as close as possible as there is a high probability that students do not complete video viewing if it is longer than 3-10 minutes.")}</td>
                                    <td></td>
                                  </tr>

                                  <tr>
                                    <td>2-3-1-2</td>
                                    <td>${_("The video produced should be well lit and not dark on the screen making it difficult to see the features of the video.")}</td>
                                    <td></td>
                                  </tr>

                                  <tr>
                                    <td>2-3-1-3</td>
                                    <td>${_("All scenes must be well-formed and clearly focused to capture the viewer's attention and not to distract him.")}</td>
                                    <td></td>
                                  </tr>

                                  <tr>
                                    <td>2-3-1-4</td>
                                    <td>${_("The video image must be stationary and not be shaken. The triangular stand can be used if it is available to reduce the camera shake. If this triangular holder is not used, the camera should be minimized as much as possible.")}</td>
                                    <td></td>
                                  </tr>

                                   <tr>
                                    <td>2-3-1-5</td>
                                    <td>${_("All titles and text added to the video must be subject to review and correction in writing, typographical errors and typos as it is not acceptable to use the weak where it will require the reproduction of this part of the video.")}</td>
                                    <td></td>
                                  </tr>

                                   <tr>
                                    <td>2-3-1-6</td>
                                    <td>${_("Any static graphics or animated images must be literal, accurate and necessary for the video message, and they should be clear, clear, non-distorted, and suitable for the screen.")}</td>
                                    <td></td>
                                  </tr>

                                   <tr>
                                    <td>2-3-1-7</td>
                                    <td>${_("All effects must be added to the video message and be clear and smooth not sharp, intermittent or volatile.")}</td>
                                    <td></td>
                                  </tr>

                                   <tr>
                                    <td>2-3-1-8</td>
                                    <td>${_("All video cutters must be processed to make the video appear seamless from beginning to end.")}</td>
                                    <td></td>
                                  </tr>

                                   <tr>
                                    <td>2-3-1-9</td>
                                    <td>${_("For videos showing panels, events, and speakers, a copy is especially available for online use. For example trim or cut a long introduction where the Internet audience wants to see the main attraction.")}</td>
                                    <td></td>
                                  </tr>

                                   <tr class="new-blue">
                                    <td>2-3-2</td>
                                    <td>${_("Technical Specifications for Sound Quality:")}</td>
                                    <td></td>
                                  </tr>

                                   <tr>
                                    <td>2-3-2-1</td>
                                    <td>${_("The sound must be heard continuously throughout the duration of the video.")}</td>
                                    <td></td>
                                  </tr>

                                   <tr>
                                    <td>2-3-2-2</td>
                                    <td>${_("All audio files must be clearly understood throughout the duration of the video.")}</td>
                                    <td></td>
                                  </tr>

                                   <tr>
                                    <td>2-3-2-3</td>
                                    <td>${_("All audio files must be free of background noise, commas, skips, and aisle, etc.")}</td>
                                    <td></td>
                                  </tr>

                                   <tr>
                                    <td>2-3-2-4</td>
                                    <td>${_("If there is more than one speaker, the sound of one should not be higher than the other, taking into account the theory of cognitive pregnancy.")}</td>
                                    <td></td>
                                  </tr>


                                   <tr>
                                    <td>2-3-2-5</td>
                                    <td>${_("The use of tribal and post-production techniques to enhance educational content.")}</td>
                                    <td></td>
                                  </tr>


                                   <tr>
                                    <td>2-3-2-6</td>
                                    <td>${_("Identification of required means and optional means within the course.")}</td>
                                    <td></td>
                                  </tr>


                                   <tr>
                                    <td>2-3-2-7</td>
                                    <td>${_("The course offers texts, notes and readings via the Internet.")}</td>
                                    <td></td>
                                  </tr>


                                   <tr>
                                    <td>2-3-2-8</td>
                                    <td>${_("Provide copies of the presentation materials used during the course of the course.")}</td>
                                    <td></td>
                                  </tr>


                                   <tr>
                                    <td>2-3-2-9</td>
                                    <td>${_("Link videos, exercises, and texts used in the session.")}</td>
                                    <td></td>
                                  </tr>


                                   <tr>
                                    <td>2-3-2-10</td>
                                    <td>${_("The session contains interaction such as the default parameter or user-controlled animation.")}</td>
                                    <td></td>
                                  </tr>

                                   <tr class="new-blue">
                                    <td>2-4</td>
                                    <td>${_("Session management and learner participation:")}</td>
                                    <td></td>
                                  </tr>

                                   <tr>
                                    <td>2-4-1</td>
                                    <td>${_("Use Wiki to engage learners.")}</td>
                                    <td></td>
                                  </tr>


                                   <tr>
                                    <td>2-4-2</td>
                                    <td>${_("Encourage learners to use discussion forums to present themselves.")}</td>
                                    <td></td>
                                  </tr>


                                   <tr>
                                    <td>2-4-3</td>
                                    <td>${_("The course provides learners with courses for learners as soon as the course is completed and saved.")}</td>
                                    <td></td>
                                  </tr>


                                   <tr>
                                    <td>2-4-4</td>
                                    <td>${_("Assessment of learners for the course at the beginning, during and end of the course.")}</td>
                                    <td></td>
                                  </tr>


                                   <tr>
                                    <td>2-4-5</td>
                                    <td>${_("Provide WIKI with pre-educated questions and activities.")}</td>
                                    <td></td>
                                  </tr>


                                   <tr>
                                    <td>2-4-6</td>
                                    <td>${_("Electronic platform courses work efficiently on mobile devices.")}</td>
                                    <td></td>
                                  </tr>


                                   <tr>
                                    <td colspan="3" class="dark-blue"></td>
                                  </tr>

                                </table>
                            </div>


	                       </div>
                       </div>
                    </div>
                </div>
            </div>

		</div>















<!--/**********************************************end delete************************************************************************-->
